/* 페이지 컨테이너의 전체적인 스타일 설정 */
.page-container {
  display: flex;
  flex-direction: row;  /* 가로로 배치 */
  height: 100vh;
  background-color: white;
  padding-top: 3%;
  align-items: center;  /* 텍스트와 키패드가 세로로 중앙 정렬되도록 */
}

.text-section {
  width: 40%;  /* 왼쪽 영역 너비 */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* 왼쪽 정렬 */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;  /* 오른쪽 영역 너비 */
}

.input-display-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8ffe0;
  width: 330px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.input-display {
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1;
}

.clear-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #214005;
}

.bottom-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.keypad-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  background-color: #e8ffe0;
  padding: 15px;
  border-radius: 15px;
}

.keypad-button {
  width: 60px;
  height: 60px;
  font-size: 22px;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.keypad-button:hover {
  background-color: #b3e59f;
}

.phone-icon, .contacts-icon {
  width: 40px;
  height: 45px;
}

.side-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.call-button, .contacts-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 140px;
  background-color: #e8ffe0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.call-button:hover, .contacts-button:hover {
  background-color: #b3e59f;
}

.phone-icon, .contacts-icon {
  font-size: 24px;
  margin-bottom: 5px;
  color: #214005;
}
