.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(186, 100, 100, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.navbar-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px; 
  padding: 0 20px;
}

.navbar-link {
  text-decoration: none;
  color: #000000;
  padding: 10px 10px;
  border-radius: 10px;
  min-width: 70px;
  flex-direction: column; /* 아이콘과 텍스트를 세로로 배치 */
  transition: background-color 0.3s;
}

.navbar-menu {
  display: flex; /* 가로 정렬 */
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-right: 200px;
}

.menu-icon {
  width: 24px; /* 아이콘 크기 설정 */
  height: auto;
}

.logo-image {
  margin-left: 200px;
  width: 60px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo-image:hover, .navbar-left:hover {
  transform: scale(1.1);
}

.navbar-link:hover {
  background-color: #c8e6c9;
}