@keyframes medalAppear {
    0% {
      opacity: 0;
      transform: scale(0.5) rotate(-20deg);
    }
    60% {
      transform: scale(1.2) rotate(10deg);
    }
    100% {
      opacity: 1;
      transform: scale(1) rotate(0);
    }
  }
  
  .animate-medal {
    animation: medalAppear 1s ease-out;
    opacity: 1;
  }