/* src/styles/components/Header.css */
header {
  padding: 1rem;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo img {
  height: 40px;
  width: auto;
}