.header-container {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-right:420px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 40px;
  height: 40px;
}

.logo-title {
  margin-left: 8px;
  font-size: 1.25rem; /* 20px */
  font-weight: bold;
}
